In [98]:
import pandas as pd
import numpy as np

In [99]:
data = pd.read_csv('Housing_learning81.csv')
data.head(10)
data = data[:-1]

In [100]:
# column = ["Price",	"Bedroom",	"Space", "Room",	"Lot",	"Tax",	"Bathroom",	"Garage"]
# for col in column:
#     data.replace('NA', np.nan)
#     data[col].replace(np.nan, data[col].mean(), inplace=True)

In [101]:
print(data.head(10))
data.tail()

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0        0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0        1.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0        0.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0        0.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5        0.0
5   44.0      4.0   897.0   7.0  25.0   960.0       2.0     1.0        0.0
6   49.0      5.0  1400.0   8.0   NaN   678.0       1.0     1.0        1.0
7   70.0      3.0  2261.0   6.0  29.0  2700.0       1.0     2.0        0.0
8   72.0      4.0  1290.0   8.0   NaN   800.0       1.5     1.5        0.0
9   82.0      4.0  2104.0   9.0  40.0  1038.0       2.5     1.0        1.0

     Price  Bedroom  Space  Room   Lot    Tax  Bathroom  Garage  Condition
151   42.0      3.0  585.0   5.0  50.0  713.0       1.0     0.0        0.0
152   44.0      3.0  820.0   5.0  27.0    NaN       1.0     0.0        1.0
153   43.0      2.0  593.0   4.0  30.0  465.0       2.0     1.0        0.0
154   53.0      3.0  716.0   6.0  30.0  585.0       1.0     2.0        1.0
155   62.0      4.0  951.0   7.0  30.0  895.0       2.0     1.0        0.0

In [102]:
data.fillna(data.mean(), inplace=True)
data.tail()

,Price,Bedroom,Space,Room,Lot,Tax,Bathroom,Garage,Condition
151,42.0,3.0,585.0,5.0,50.0,713.000000,1.0,0.0,0.0
152,44.0,3.0,820.0,5.0,27.0,911.707483,1.0,0.0,1.0
153,43.0,2.0,593.0,4.0,30.0,465.000000,2.0,1.0,0.0
154,53.0,3.0,716.0,6.0,30.0,585.000000,1.0,2.0,1.0
155,62.0,4.0,951.0,7.0,30.0,895.000000,2.0,1.0,0.0

In [103]:
X = data.drop(columns=['Condition'])
y = data['Condition']
print(X.head(),"\n", y.head())

   Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage
0   53.0      2.0   967.0   5.0  39.0   652.0       1.5     0.0
1   55.0      2.0   815.0   5.0  33.0  1000.0       1.0     2.0
2   56.0      3.0   900.0   5.0  35.0   897.0       1.5     1.0
3   58.0      3.0  1007.0   6.0  24.0   964.0       1.5     2.0
4   64.0      3.0  1100.0   7.0  50.0  1099.0       1.5     1.5
 0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: Condition, dtype: float64

In [104]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [106]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [107]:
y_pred = lr.predict(X_test)

In [108]:
from sklearn.metrics import accuracy_score, f1_score
acc = accuracy_score(y_true=y_test, y_pred=y_pred)
fs = f1_score(y_true=y_test, y_pred=y_pred)
print(acc,fs)

0.84375 0.4444444444444445